/*---------------------------------------------------------------------------
 *  Two- and three-column layout
 */

#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background-color: #006;
}

#logo {
    position: absolute;
    top: 8px;
    left: 8px;
}

#navigation {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 184px;
    top: 80px;
    margin: 0px;
    padding-top: 8px;
}

#news {
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 320px;
    top: 80px;
    margin: 0px;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.ContentWithNews {
    position: absolute;
    top: 80px;
    left: 184px;
    right: 320px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 8px;
}

.Content {
    position: absolute;
    top: 80px;
    left: 184px;
    right: 8px;
    padding-left: 16px;
    padding-top: 8px;
}


/*---------------------------------------------------------------------------
 *  Default element styles
 */

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-weight: normal;
}

a:link { color: #00a; }
a:active { color: red; }
a:hover { color: red; }
a:visited { color: black; }

img {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

p {
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

blockquote {
	margin-bottom: 10px;
}

td {
    font-size: 12px;
    padding: 2px;
}

th {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    padding: 2px;
}

th.Row {
	text-align: left;
	vertical-align: top;
}

ul, ol {
    border: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 20px;
}


/*---------------------------------------------------------------------------
 *  Page content
 */

#content h1 {
    right: 0px;
    color: #006;
    font-family: Bitstream Charter, serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

/* IE doesn't understand the first-child pseudoclass, but sod 'em. */
#content h1:first-child {
    margin-top: 0px;
}

#content h2 {
    margin-top: 24px;
    margin-bottom: 16px;    
    font-family: Bitstream Charter, serif;
    font-size: 20px;
    font-weight: bold;
    color: #006;
}

#content h3 {
    margin-top: 18px;
    margin-bottom: 14px;    
    font-family: Bitstream Charter, serif;
    font-size: 18px;
    font-weight: normal;
    color: #006;
}

#content a { text-decoration: underline; }
#content a:link { color: #006; }
#content a:visited { color: #006; }
#content a:active { color: red; }
#content a:hover { color: red; }

#content li {
    margin-bottom: 6px;
}

#content table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

#content tr {
    border: 1px solid #ccc;
}

#content th {
    border: 1px solid #ccc;
}

#content td {
    border: 1px solid #ccc;
}

.Note {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    padding-left: 50px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}

.Information {
    background-position: 8px 50%;
    min-height: 36px;
    background-image: url(information.png);
}

.Warning {
    background-position: 4px 50%;
    min-height: 36px;
    background-image: url(warning.png);
}

.Source {
    padding: 4px;
    font-family: courier new, monospace;
    font-size: 11px;
    border: 1px solid #880;
    background-color: #ffc;
    color: black;
}

.Source:before {
     margin: 0px;
     padding: 0px;
     border: 0px;
     font-size: inherit;
}

.DynaMock:before {
	content: "DynaMock: ";
}

.JMock:before {
	content: "jMock: ";
}

.EasyMock:before {
	content: "EasyMock: ";
}

.Gmane {
	width: 100%;
	height: 600px;
}

/* The following are for images, but can also apply to div's containing images. */

#content .Float {
	float: right;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#content div.Float {
    background: #fff;
    padding: 4px;
    border: 1px solid #aaf;
}

#content .Diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#content .Inline {
    display: inline;
}

.RuleOfThumb {
    font-weight: bold;
}

#content .ButtonBox {
    position: relative;
    white-space: nowrap;
    display: block;
    margin-top: 40px;
}

#content .Button {
    display: block;
    position: absolute;
    border: 1px solid #006;
    -moz-border-radius: 6px;
    width: 40%;
    height: 30px;
    padding-top: 50px;
    background-position: center 4px;
    background-repeat: no-repeat;
    
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#download-it {
    left: 24px;
    background: url(download-it.png);
}

#use-it {
    right: 24px;
    background: url(use-it.png);
}

#content .Button:link { 
    background-color: #e0e0ff; 
    color: #006; 
}

#content .Button:visited { 
    background-color: #e0e0ff; 
    color: #006; 
}

#content .Button:active { 
    background-color: #ffffa0; 
    color: #006; 
}

#content .Button:hover { 
    background-color: #ffffa0; 
    color: #006; 
}


/*---------------------------------------------------------------------------
 *  Side panels
 */

#navigation {
    background-color: white;
    font-size: 11px;
}

#navigation > div {
    -moz-border-radius: 0px 6px 6px 0px;
}

#navigation > div h1 {
    -moz-border-radius: 0px 6px 6px 0px;
}

#navigation > div {
    margin: 0px;
    margin-bottom: 8px;
    padding: 0px;
    background-color: #eaeaff;
    color: #006;
}

#navigation h1 {
    padding: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #e0e0ff;
}

#navigation h2 {
    font-size: 11px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

#navigation p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 4px;
}

#navigation ul {
    margin-bottom: 4px;
}

#navigation a { text-decoration: none; }

#navigation a:link { color: #006; }
#navigation a:visited { color: #006; }
#navigation a:active { color: red; }
#navigation a:hover { color: red; }

#navigation h1 a:link { color: #006; }
#navigation h1 a:visited { color: #006; }


/*---------------------------------------------------------------------------
 *  News panel
 */

#news {
    border-left: 1px solid #ccc;
    background: white;
}

#news div {
}

#news h1 {
    background: white;
    font-family: Bitstream Charter, serif;
    font-size: 28px;
    font-weight: bold;
    color: #006;
}

.NewsItem {
    margin-bottom: 16px;
}

.NewsTitle {
    font-family: Bitstream Charter, serif;
    font-size: 16px;
    font-weight: bold;

    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 4px;

    color: #006;
}

.NewsDate {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
}

.NewsText {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}

.NewsText a { text-decoration: underline; }
.NewsText a:link { color: #006; }
.NewsText a:visited { color: #006; }
.NewsText a:active { color: red; }
.NewsText a:hover { color: red; }

.NewsMore {
    font-size: smaller;
    margin-top: 12px;
    text-align: left;
}

.NewsGroup td {
    font-size: 12px;
}

#news a { text-decoration: underline; }

#news a:link { color: #006; }
#news a:visited { color: #006; }
#news a:active { color: red; }
#news a:hover { color: red; }

#news h1 a:link { color: #006; }
#news h1 a:visited { color: #006; }


/*---------------------------------------------------------------------------
 *  Document meta-information
 */

.LinkFootnotes, .LinkFootnoteRef {
    display: none;
}

#testFrameworkSelector {
    color: #e0e0ff;
    position: absolute;
    top: 8px;
    right: 8px;
}

#testFrameworkSelector a {
    text-decoration: underline;
    color: #e0e0ff;
}

#testFrameworkSelector .ActiveSelector {
    font-weight: bold;
    color: white;
}

.Selected h3 {
    display: none;
}

.Deselected {
    display: none;
}

.Copyright {
	color: #aaaaaa;
	margin-top: 16px;
	font-size: smaller;
}
